
<!-- Carousel-->
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/carousels/carousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/carousels/carousel2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  src="assets/images/carousels/carousel1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <section>

  <carousel [interval]="4000" [noPause]="true">
    <slide>
      <img src="assets/images/carousels/carousel1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h1>Testing.</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/carousels/carousel2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h1>Cooking.</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/images/carousels/carousel1.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption">
        <h1>Tasting.</h1>
      </div>
    </slide>
  </carousel>

</section>
 -->
<!-- <div class="text-carusel">

                    <h1 class="mb-5">Cooking.<br>Tasting.<br>Living.</h1>
                    <a class="btn_carousel" href="/shop/ProductList">Check Our Menu</a>
                </div>
 -->


<!-- Categories des produits-->
 <section>
  <div class="container">
    <h2>Category cake</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card">
          <img [src]="item.imgSrc" alt="{{item.title}}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">{{item.title}}</h5>
            <a href="#" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



