.categories {
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  .categories h2 {
    text-align: center;
  }
  
  .categories form {
    text-align: left;
  }
  
  .categories input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }
  
  .categories button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .categories label {
    display: block;
    margin-bottom: 5px;
  }
  