<div class="tableau-de-bord">
  <div class="sidebar">
      <ul>
          <li><a routerLink="utilisateurs">Utilisateurs</a></li>
          <li><a routerLink="utilisateurs-ajout"> Ajouter Utilisateur</a></li>
          <li><a routerLink="produits">Produits</a></li>
          <li><a routerLink="produits-ajout"> Ajouter Produits</a></li>
          <li><a routerLink="categories"> Liste des Catégories</a></li>
          <li><a routerLink="categories-ajout"> Ajouter Catégorie</a></li>
          <li><a routerLink="commandes">Commandes</a></li>
      </ul>
  </div>
  <router-outlet></router-outlet>
</div>
<!-- home.component.html -->
<button routerLink="/">Retour à la page d'accueil</button>